.main {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.hero {
  height: 50rem;
  margin-bottom: var(--section-padding);
  &__bg {
    height: 100%;
    background-image: url(../../assets/bg.jpg);
    background-size: cover;
    background-position: center;
  }
  @media only screen and (max-width: 768px) {
    &__bg {
      background-position: left;
    }
  }
}

.collection {
  margin-bottom: var(--section-padding);
  &__container {
    display: flex;
    padding: 0 1.5rem;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      margin: auto;
      padding: 0;
      width: 100%;
    }
  }

  &__item {
    height: 35rem;
    width: 100%;
    border-radius: 3px;
    position: relative;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &:hover &--section {
      opacity: 1;
    }
    &.item--1 {
      background-image: url(../../assets/steak.jpg);
      background-size: cover;
    }
    &.item--2 {
      background-image: url(../../assets/pork.jpg);
      background-size: cover;
    }
    &.item--3 {
      background-image: url(../../assets/poultry.webp);
      background-size: cover;
    }

    @media only screen and (max-width: 1024px) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
      &.item--1,
      &.item--2,
      &.item--3 {
        background-size: cover;
      }
    }
    &--maintitle {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);

      & p {
        color: white;
        font-weight: 600;
        font-size: 2rem;
        width: 100%;
      }
    }
    &--section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid white;
      width: 50%;
      min-width: 10rem;
      padding: 1rem 2rem;
      background-color: white;
      opacity: 0;
      transition: all 0.3s ease-in;
      & p {
        text-align: center;
        color: var(--color-medium-black);
        font-weight: 600;
      }
    }
    &.item--1:hover,
    &.item--2:hover,
    &.item--3:hover {
      background-size: 120%;
      background-position-x: 50%;
      background-position-y: 25%;
      cursor: pointer;
      // transform: scale(1.2);
    }
    @media only screen and (max-width: 768px) {
      &--section p {
        font-size: 2rem;
      }
      &--section {
        opacity: 1;
        width: 70%;
      }
    }
  }
}

.reviews {
  display: flex;
  padding: 2rem 2rem;
  &__star {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    & > * {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
  &__single {
    &:not(:last-child) {
      padding-right: 3rem;
    }
    & p {
      text-align: center;
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    &__single {
      padding-right: 0 !important;
      padding-bottom: 2rem;
    }
    & p {
      padding: 0 4rem;
    }
  }
}

.footer {
  height: 20rem;
  background-color: var(--color-secondary);
  color: white;
  width: 100%;
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-around;
  &__info {
    min-width: 20rem;
    &--section {
      display: flex;
      margin-bottom: 2rem;
      cursor: pointer;
      & a {
        text-decoration: none;
        color: white;
      }
      & svg {
        margin-right: 1rem;
        fill: white;
      }
    }
  }

  &__menu {
    min-width: 20rem;
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    & {
      flex-direction: column;
      min-height: 30rem;
      align-items: center;
      justify-content: center;
      &>*{
      text-align: center;
      }
      &__info--section{
      display: flex;
      justify-content: center;
      }
    }
  }
}
