.cart {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50rem;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &-title {
      font-size: 2rem;
      font-weight: 600;
    }
    &-paragraph {
      font-weight: 600;
      font-size: 1.5rem;
    }
    &-clear {
      display: flex;
      align-items: center;
      padding: 0.4rem 1rem;
      color: var(--color-light-black);
      &:hover {
        background-color: var(--color-grey-light);
        border-radius: 10rem;
      }
      &:hover,
      &:hover svg {
        cursor: pointer;
        color: var(--color-medium-black);
        fill: var(--color-medium-black);
      }

      & svg {
        width: 1.4rem;
        width: 1.4rem;
        margin-right: 1rem;
        fill: var(--color-light-black);
      }
    }
  }

  &__items--container {
    width: 100%;
    border: 1px solid var(--color-grey-dark);
    border-radius: 1rem;
    & > *:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-dark);
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;

    &--photo {
      width: 7rem;
      height: 7rem;
    }
    &--paragraph {
      display: flex;
      align-items: center;
    }
    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40rem;
      width: 4rem;
      height: 4rem;
      align-self: center;
      cursor: pointer;
      fill-opacity: 70%;

      &:hover {
        border-radius: 50rem;
        background-color: var(--color-grey-light);
      }
    }
    &.--center-flex p{
      font-weight: 600;
      font-size: 2.1rem;
    }
  }
}
