.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  border-top: 1px solid var(--color-grey-light);
  // height: calc(100vh - 15.6rem);
  &__header {
    padding: 2rem 0;

    padding: 0 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    &--center {
      display: flex;
      & p {
        margin-right: 2rem;
        align-self: center;
      }
      & select {
        outline: none;
        padding: 0.2rem 2rem;
      }
    }
    &--select {
      min-width: 15rem;
      & option {
        font-size: 1.6rem;
      }
    }

    @media only screen and (max-width: 768px) {
      & {
        padding-top: 0;
      }
      &--center {
        width: 100%;
      }
      &--select {
        width: 100%;
      }
    }

    @media only screen and (max-width: 464px) {
      & {
        padding: 0;
        flex-direction: column;
        &--center {
          & select {
            border-left: none;
            border-top: none;
            border-bottom: 1px solid var(--color-grey-dark);
            font-size: 1.5rem;
            text-align: center;
          }
        }
        &--left {
          order: 2;
          align-self: flex-start;
          margin-top: 1rem;
        }
      }
    }
  }

  &__body {
    width: 100%;
    display: inline-flex;
    margin-left: auto;
    padding: 0 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    & > div {
      margin-inline: 2em;
      margin-block: 5rem;
    }
    &--product {
      max-width: 15rem;
      min-width: 11rem;
      // height: 30rem;
      min-height: 27.6rem;
      border: 1px solid transparent;
      border: 1px solid var(--color-grey-dark);
      background-color: var(--color-grey-light);
      padding-bottom: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      &:hover {
        cursor: pointer;
      }
      &-img {
        width: 100%;
        min-height: 14.5rem;
        display: flex;
        & > img {
          // width: 100%;
          min-width: 12rem;
          max-width: 20rem;
          height: 100%;
          min-height: 1.5rem;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }
      }
      &-content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
      }
      &-name {
        font-size: 2rem;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-price {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        & .part1 {
          margin-right: 4px;
        }
        & .part2 {
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
    }

    @media only screen and (min-width: 769px) {
      &--product {
        &:hover {
          & img {
            transform: scaleX(-1);
          }
          cursor: pointer;
        }
      }
    }
    @media only screen and (max-width: 768px) {
      & {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &--product {
          justify-self: center;
          margin-block: 2rem !important;
          &-name {
            font-size: 1.5rem;
          }
          &-img {
            height: 10rem;
            width: 10rem;
          }
        }
      }
    }

    @media only screen and (max-width: 475px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
.product {
  display: flex;
  padding-top: 4rem;
  height: 50rem;
  &__img {
    flex: 1;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    flex: 1;
    padding-top: 6rem;
    padding-left: 2.5rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    & {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    &--description p:first-child {
      padding: 2rem 0 2rem 2rem;
      font-weight: 600;
    }
    &--description p:last-child {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      line-height: 2.5rem;
      text-indent: 2rem;
    }
  }

  &__title {
    font-size: 3rem;
  }
  &__attribute {
    font-size: 1.6rem;
  }
  &__paragraph {
    font-weight: 600;
  }

    &__anchor{
        position: relative;
    }

  @media only screen and (min-width: 1200px) {
    justify-content: space-around;
    &__info {
      padding-left: 5rem;
      flex: 0.4;
    }
    &__img {
      flex: 0.4;
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 0 6rem;
    height: 100%;
    flex-direction: column;
    &__title {
      padding: 0 2rem;
    }
    &__img {
      display: flex;
      justify-content: center;
      & img {
        // width: 80%;
      }
    }
  }
  @media only screen and (max-width: 464px) {
    padding: 0;
    &__paragraph,
    &__paragraph--text {
      padding-inline: 2rem;
    }
    &__title {
      padding: 0 1rem;
    }
    &__info {
      padding: 0;
    }
  }
}
.quantity-button {
  display: flex;
  flex-direction: column;

  &-input {
    width: 100%;

    & select,
    & input {
      padding: 0.5rem 1rem;
    }
    & input {
      outline: none;
      max-width: 5rem;
    }
    & select {
      margin-right: 2rem;
    }
  }
  &-select {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @media only screen and (max-width: 464px) {
    &-input {
      // display: flex;
      // justify-content: space-evenly;
      padding: 0 2rem;
    }
    & select,
    &-input input {
      width: 10rem;
      height: 4rem;
    }
    & select {
      outline: none;
    }
  }
}

.suggested {
  padding: 4rem 4rem;
  &--title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__container {
    border: 1px solid transparent;
    border-radius: 1rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    column-gap: 5px;
    & img {
      height: 10rem;
    }

    &--product {
      padding: 1rem 2rem;

      font-size: 1.3rem;
      border: 1px solid transparent;
      &:hover {
        cursor: pointer;
      }
      & > div > * {
        margin-top: 10px;
      }
      & > div > :last-child {
        font-weight: 600;
      }
    }

    @media only screen and (min-width: 769px) {
      &__container--product {
        &:hover {
          border: 1px solid var(--color-grey-dark);
        }
        &:hover {
          border: 1px solid var(--color-grey-light);
          box-shadow: 0.1rem 0.2rem 0 var(--color-grey-light);
          border-radius: 0.6rem 0.6rem;
          cursor: pointer;
        }
      }
    }
  }
}
