:root {
  --color-grey-light: #e6e6e6;
  --color-grey-dark: #adadad;
  --color-black: #181818;
  --color-medium-black: #272727;
  --color-light-black: #474747;
  --color-secondary: #9b2e34;
  --color-accent:#72a4e6;
  --color-green-light:#167440;
  --section-padding: 8rem;

}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
//UTILITIES
.--center-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.--margin-bottom-1{
  margin-bottom: 1rem !important;
}
.--margin-bottom-2{
  margin-bottom: 2rem !important;
}
.--margin-bottom-4{
  margin-bottom: 4rem !important;
}
.--padding-hor-4{
  padding: 0 4rem;
}
.--underline{
  border-bottom: 1px solid var(--color-grey-dark);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}